<section id="team" style="padding-bottom: 30px">
  <div class="row" style="margin: 130px 70px 0 70px">
    <div class="col-lg-5" style="margin-right: 130px">
      <h2>Actualización de tablas de la base de datos</h2>
      <p style="padding-bottom: 50px">
        Para actualizar el contenido de la base de datos deberás clicar el botón
        que sale aqui abajo y esperar unos 30 segundos.
      </p>
      <img src="../images/arrowDown.jpg" width="150px" alt="arrowDown" />
      <img src="../images/arrowDown.jpg" width="150px" alt="arrowDown" />
      <img src="../images/arrowDown.jpg" width="150px" alt="arrowDown" />
      <div
        style="
          display: flex;
          justify-content: center;
          gap: 30px;
          margin: 50px 0 50px;
        ">
        <button id="deleteButton">Eliminar contenido de las tablas</button>
        <button id="updateButton">Actualizar contenido de las tablas</button>
      </div>
      <div id="updateMessages"></div>
      <br />
      *al clicar "actualizar contenido de las tablas", se eliminará el anterior
      contenido automáticamente
    </div>
    <div class="col-lg-6">
      <h2>Vista resumida de la base de datos</h2>
      <p style="padding-bottom: 40px">
        Información sobre las tablas de la base de datos de forma resumida
      </p>
      <ul id="contenidoActual" style="width: 100%; max-width: 850px"></ul>
    </div>
  </div>
</section>
