<section id="team" style="padding-bottom: 30px">
    <div class="container os-animation">
        <div class="row filaContenedorCentrado">
            <div id="contenedorRegistro" class="col-lg-6 col-sm-6 col-md-3">
                <h2>LOGIN</h2>
                <form>
                    <label for="campoUsuario">Usuario</label>
                    <input id="campoUsuario" maxlength="32" type="text" required>
                
                    <label for="campoContrasena">Contraseña</label>
                    <input id="campoContrasena" maxlength="32" type="password" required>
                </form>
                <div class="contenedorBotones">
                    <button onclick="limpiarCampos()">Limpiar información</button>
                    <button onclick="login()">Continuar</button>
                </div>
            </div>
        </div>
    </div>
        
    </div>
</section>