<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../js/jquery.bxslider.js"></script>
<script src="../js/fixed-responsive-nav.js"></script> 
<script src="../js/waypoints.min.js"></script>
<script src="../js/script.js"></script> 
<script>
    function limpiarCampos() {
        document.getElementById("campoUsuario").value = "";
        document.getElementById("campoContrasena").value = "";
    }
    function loginFallido(msg) {
        document.getElementById("campoContrasena").value = "";
        alert(msg);
    }
    function tieneTexto(text){
        if(text == null){
            return false;
        }
        if(text == ""){
            return false;
        }
        return true;
    }
    function success(redir){
        window.location.href = redir;
        return;
    } 
    function login() {
        var usuario = document.getElementById("campoUsuario").value;
        var contrasena = document.getElementById("campoContrasena").value;
        
        if(!tieneTexto(usuario)){
            loginFallido("rellena el campo usuario");
            return;
        }
        if(!tieneTexto(contrasena)){
            loginFallido("rellena el campo contrasena");
            return;
        }

        var params = "?Username="+usuario;
        params += "&Password="+contrasena;
        
        var xhr = new XMLHttpRequest();
        var url = "../../src/login"+params; //url de AJAX
        console.log("AJAX request: ", url);
        xhr.open("GET", url, true);

        xhr.onload = function(){
            if(xhr.status === 200){
                console.log("AJAX response: ", xhr);
                var response = JSON.parse(xhr.responseText);
                if(response.estado === "exito"){
                    success(response.ruta);
                }else{
                    loginFallido(response.mensaje);
                }
            } else{
                loginFallido(xhr.responseText);
            } 
        };

        xhr.send();
        console.log("AJAX request sent");
    }
</script>
</body>
</html>