<section
  id="listadoActual"
  style="
    display: flex;
    visibility: visible;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 80px;
  "
  class="row">
  <div
    id="seleccionDeFiltro"
    class="col-lg-4 col-sm-4 col-md-4"
    style="height: 110px">
    <p id="textoFiltro"></p>
    <textarea id="filtroTextarea"></textarea>
    <p id="textoOrden"></p>
    <button
      id="confirmarFiltros"
      style="margin-top: 8px"
      onclick="confirmarFiltros()">
      Confirmar filtros
    </button>
  </div>
  <ul
    id="contenidoActual"
    style="width: 100%; max-width: 850px; margin-left: 100px">
    <li>ijhupijhupijhuphawofe</li>
    <li>ijhuphawofe</li>
    <li>ijhuphawijhupofe</li>
    <li>ijhuphawofe</li>
    <li>ijhuphawijhupijhupofe</li>
    <li>ijhuphawijhupijhupijhupofe</li>
  </ul>
</section>
