<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Cripton | Información sobre criptoactivos</title>

    <!--META-->
    <meta name="viewport" content="width=device-width initial-scale=1.0" />

    <!--FONTS-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700"
      rel="stylesheet" />
    <link rel="icon" type="image/png" href="./web/icons/Bitcoin.webp" />

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="./web/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="./web/style.css" />
    <link rel="stylesheet" type="text/css" href="./web/css/menu.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./web/css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="./web/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="./web/css/animate.css" />
  </head>

  <body>
    <div class="se-pre-con">
      <div class="wrapper">
        <div class="cssload-loader"></div>
      </div>
    </div>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="logo">
              <a href="."><img src="./web/images/logo.png" alt="cripton" /></a>
            </div>
            <nav class="nav-collapse">
              <ul>
                <li class="menu-item"><a href="#banner">INICIO</a></li>
                <li class="menu-item">
                  <a href="#poweredByCoingecko">COINGECKO</a>
                </li>
                <li class="menu-item">
                  <a href="./web/listings/">LISTADOS</a>
                </li>
                <li class="menu-item">
                  <div class="signup" style="margin-left: 8px">
                    <a href="./web/profile/">PERFIL</a>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
