<section id="banner">
  <ul>
    <li>
      <img src="./web/images/stockMarketBanner.png" alt="" />
    </li>
  </ul>
  <div
    class="mainslide os-animation"
    data-os-animation="zoomIn"
    data-os-animation-delay="0.5s">
    <h2>C R I P T O N</h2>
    <p>El mejor comparador de criptoactivos de España</p>
    <div class="buttons">
      <a id="listingsButton" href="./web/profile/" class="learn">PERFIL</a>
      <span>|</span>
      <a id="listingsButton" href="./web/listings/" class="contact">LISTADOS</a>
    </div>
  </div>
</section>
