<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../js/jquery.bxslider.js"></script>
<script src="../js/fixed-responsive-nav.js"></script> 
<script src="../js/waypoints.min.js"></script>
<script src="../js/script.js"></script>
<script>
    let filtroAnt = -1;
    let confirmedFilters = false;
    let filterOrder = "";
    let filterText = "";
    let filterTextContent = "";
    let currentListing = filtroAnt;

    const textosDeFiltro = [
        "Precios mayores o iguales al dado",
        "Precios mayores o iguales al dado",
        "Pais a filtrar"
    ];
    const textosDeOrden = [
        "Ordenar por precios descendentes?",
        "Ordenar por precios descendentes?",
        "Ordenar por antiguedad ascendente?"
    ];

    function listado(Nfiltro) {
        
        //var filtros = ["listadoDeCriptomonedasFiltro","listadoDeNftsFiltro","listadoExchangesFiltro"];
        var textoFiltro = document.getElementById("textoFiltro");
        textoFiltro.innerHTML = textosDeFiltro[Nfiltro]; 
        var textoOrden = document.getElementById("textoOrden");
        textoOrden.innerHTML = textosDeOrden[Nfiltro];
        var elemFiltroOrden = document.getElementById("filtroOrden");

        var filtro = document.getElementById("filtroTextarea").value;
        //var filtro = "none"//sin filtro
        var resultado = document.getElementById("contenidoActual");
        let filtroOrden = elemFiltroOrden.options[elemFiltroOrden.selectedIndex].value;
        
        currentListing = Nfiltro;
        
        if(Nfiltro != filtroAnt){
            filtroAnt = Nfiltro;
            filtro = "none";
            filtroOrden = "no";
            filterOrder = "";
            filterText = "";
            filterTextContent = "";
        } else {
            filterOrder = $("#filtroOrden").val();
            filterText = textosDeFiltro[filtroAnt];
            filterTextContent = $("#filtroTextarea").val();
        }
        
        //var filtroOrden = "no";//sin orden

        var params = "?Nfiltro="+Nfiltro;
        if(filtroOrden != "no"){
            params += "&filtroOrden="+filtroOrden;
        }
        params += "&filtro="+filtro;
        var xhr = new XMLHttpRequest();
        var url = "../../src/listings"+params; //url de AJAX
        console.log("AJAX request: ", url);
        xhr.open("GET", url, true);

        xhr.onload = function(){
            if(xhr.status === 200){
                console.log("AJAX response: ", xhr);
                resultado.innerHTML = xhr.responseText;
            } else{
                resultado.innerHTML = xhr.responseText = "error al cargar el listado" + Nfiltro;
            } 
        };

        xhr.send();
        console.log("AJAX request sent");

        const listadoActual = document.getElementById("listadoActual");
        listadoActual.style.visibility = "visible";
        listadoActual.style.display = "flex";
    }

    function confirmarFiltros() {
        var filtro = document.getElementById("filtroTextarea").value;
        var elemFiltroOrden = document.getElementById("filtroOrden");
        var filtroOrden = elemFiltroOrden.options[elemFiltroOrden.selectedIndex].value;

        console.log("Filtro aplicado:", filtro);
        console.log("Orden seleccionado:", filtroOrden);

        if (filtroAnt !== -1) {
            listado(filtroAnt);
        }
        
    }

    function redirectToGraphs() {
        window.location.href="../graphs?template=" + filtroAnt;
    }
    
</script>
<script>
    function generatePdf() {
        const currentListingInHtml = $("#contenidoActual").html();

        $.ajax({
            url: 'generatePDF.php',
            type: 'POST',
            data: {currentListingInHtml: currentListingInHtml,
                currentListing: currentListing,
                filterOrder: filterOrder,
                filterText: filterText,
                filterTextContent: filterTextContent,
            },
            success: function(response) {
                alert("PDF generado correctamente!");
            },
            error: function(xhr, status, error) {
                alert("Hubo un error al generar el pdf.");
            }
        });
    }
</script>
</body>
</html>
