<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../js/jquery.bxslider.js"></script>
<script src="../js/fixed-responsive-nav.js"></script> 
<script src="../js/waypoints.min.js"></script>
<script src="../js/script.js"></script>
<script>
    var filtroAnt = -1;

    function listado(Nfiltro) {
        var textosDeFiltro = [
            "Precios mayores o iguales al dado.",
            "Precios mayores o iguales al dado.",
            "Pais a filtrar."
        ];
        var textosDeOrden = [
            "Ordenar por precios descendentes?",
            "Ordenar por precios descendentes?",
            "Ordenar por antiguedad ascendente?"
        ];
        //var filtros = ["listadoDeCriptomonedasFiltro","listadoDeNftsFiltro","listadoExchangesFiltro"];
        var textoFiltro = document.getElementById("textoFiltro");
        textoFiltro.innerHTML = textosDeFiltro[Nfiltro]; 
        var textoOrden = document.getElementById("textoOrden");
        textoOrden.innerHTML = textosDeOrden[Nfiltro];

        var filtro = document.getElementById("filtroTextarea").value;
        //var filtro = "none"//sin filtro
        var resultado = document.getElementById("contenidoActual");
        if(Nfiltro != filtroAnt){
            filtroAnt = Nfiltro;
            filtro = "none"
        }
        
        //var filtroOrden = "no";//sin orden
        var elemFiltroOrden = document.getElementById("filtroOrden");
	    var filtroOrden = elemFiltroOrden.options[elemFiltroOrden.selectedIndex].value;

        var params = "?Nfiltro="+Nfiltro;
        if(filtroOrden != "no"){
            params += "&filtroOrden="+filtroOrden;
        }
        params += "&filtro="+filtro;
        var xhr = new XMLHttpRequest();
        var url = "../../src/listings"+params; //url de AJAX
        console.log("AJAX request: ", url);
        xhr.open("GET", url, true);

        xhr.onload = function(){
            if(xhr.status === 200){
                console.log("AJAX response: ", xhr);
                resultado.innerHTML = xhr.responseText;
            } else{
                resultado.innerHTML = xhr.responseText = "error al cargar el listado" + Nfiltro;
            } 
        };

        xhr.send();
        console.log("AJAX request sent");

        const listadoActual = document.getElementById("listadoActual");
        listadoActual.style.visibility = "visible";
        listadoActual.style.display = "flex";
    }

    function confirmarFiltros() {
        var filtro = document.getElementById("filtroTextarea").value;
        var elemFiltroOrden = document.getElementById("filtroOrden");
        var filtroOrden = elemFiltroOrden.options[elemFiltroOrden.selectedIndex].value;

        console.log("Filtro aplicado:", filtro);
        console.log("Orden seleccionado:", filtroOrden);

        if (filtroAnt !== -1) {
            listado(filtroAnt);
        }
    }

    function redirectToGraphs() {
        window.location.href="../graphs?template=" + filtroAnt;
    }
    
</script>
</body>
</html>
