<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../js/jquery.bxslider.js"></script>
<script src="../js/fixed-responsive-nav.js"></script> 
<script src="../js/waypoints.min.js"></script>
<script src="../js/script.js"></script>
<script>
    let filtroAnt = -1;
    let confirmedFilters = false;
    let filterOrder = "";
    let filterText = "";
    let filterTextContent = "";
    let currentListing = filtroAnt;

    const textosDeFiltro = [
        "Precios mayores o iguales al dado",
        "Precios mayores o iguales al dado",
        "Pais a filtrar"
    ];
    const textosDeOrden = [
        "Ordenar por precios descendentes?",
        "Ordenar por precios descendentes?",
        "Ordenar por antiguedad ascendente?"
    ];

    function listado(Nfiltro) {
        
        //var filtros = ["listadoDeCriptomonedasFiltro","listadoDeNftsFiltro","listadoExchangesFiltro"];
        var textoFiltro = document.getElementById("textoFiltro");
        textoFiltro.innerHTML = textosDeFiltro[Nfiltro]; 
        var textoOrden = document.getElementById("textoOrden");
        textoOrden.innerHTML = textosDeOrden[Nfiltro];
        var elemFiltroOrden = document.getElementById("filtroOrden");

        var filtro = document.getElementById("filtroTextarea").value;
        //var filtro = "none"//sin filtro
        var resultado = document.getElementById("contenidoActual");
        let filtroOrden = elemFiltroOrden.options[elemFiltroOrden.selectedIndex].value;
        
        currentListing = Nfiltro;
        filterText = textosDeFiltro[Nfiltro];

        if(Nfiltro != filtroAnt){
            filtroAnt = Nfiltro;
            filtro = "none";
            filtroOrden = "no";
            filterTextContent = "";
            filterOrder = "no ordenar";
        } else {
            filterOrder = $("#filtroOrden").val();
            filterTextContent = $("#filtroTextarea").val();
        }
        
        //var filtroOrden = "no";//sin orden

        var params = "?Nfiltro="+Nfiltro;
        if(filtroOrden != "no"){
            params += "&filtroOrden="+filtroOrden;
        }
        params += "&filtro="+filtro;
        var xhr = new XMLHttpRequest();
        var url = "../../src/listings"+params; //url de AJAX
        xhr.open("GET", url, true);

        xhr.onload = function(){
            if(xhr.status === 200){
                resultado.innerHTML = xhr.responseText;
            } else{
                resultado.innerHTML = xhr.responseText = "error al cargar el listado" + Nfiltro;
            } 
        };

        xhr.send();

        const listadoActual = document.getElementById("listadoActual");
        listadoActual.style.visibility = "visible";
        listadoActual.style.display = "flex";
    }

    function confirmarFiltros() {
        var filtro = document.getElementById("filtroTextarea").value;
        var elemFiltroOrden = document.getElementById("filtroOrden");
        var filtroOrden = elemFiltroOrden.options[elemFiltroOrden.selectedIndex].value;

        if (filtroAnt !== -1) {
            listado(filtroAnt);
        }
        
    }

    function redirectToGraphs() {
        window.location.href="../graphs?template=" + filtroAnt;
    }
    
</script>
<script>
    function generatePdf() {
        const form = document.createElement("form");
        form.method = "POST";
        form.action = "../../src/generatePDF.php";
        form.target = "_blank"; 

        const addField = (name, value) => {
            const input = document.createElement("input");
            input.type = "hidden";
            input.name = name;
            input.value = value;
            form.appendChild(input);
        };

        addField("currentListingInHtml", $("#contenidoActual").html());
        addField("currentListing", currentListing);
        addField("filterOrder", filterOrder);
        addField("filterText", filterText);
        addField("filterTextContent", filterTextContent);
        console.log($("#contenidoActual").html());
        console.log({ currentListing, filterOrder, filterText, filterTextContent });

        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    }

</script>
</body>
</html>
