<section id="team">
  <div
    class="container os-animation"
    data-os-animation="zoomIn"
    data-os-animation-delay="0.7s">
    <div class="row">
      <div class="col-lg-12" style="margin-top: 120px">
        <h2>Listados</h2>
        <p>Seleccione uno de los siguientes listados</p>
      </div>
    </div>

    <div id="listados" class="row">
      <div
        id="listadoDeCriptomonedas"
        class="col-lg-4 col-sm-4 col-md-4"
        onclick="listado(0)">
        <a href="#listadoActual">
          <img src="../images/bitcoinPrice.avif" alt="" />
          <h3>Criptomonedas</h3>
          <span>¿Bitcoin? ¿Ethereum? ¿A cual le está yendo mejor?</span>
        </a>
      </div>
      <div
        id="listadoDeNfts"
        class="col-lg-4 col-sm-4 col-md-4"
        onclick="listado(1)">
        <a href="#listadoActual">
          <img src="../images/bestPerforming.jpeg" alt="" />
          <h3>Criptoactivos más populares</h3>
          <span>Sean "memecoins" o nfts a todos nos gusta el verde</span>
        </a>
      </div>
      <div
        id="listadoExchanges"
        class="col-lg-4 col-sm-4 col-md-4"
        onclick="listado(2)">
        <a href="#listadoActual">
          <img src="../images/exchanges.png" alt="" />
          <h3>Páginas de intercambio</h3>
          <span>¿Que otras opciones hay a parte de binance?</span>
        </a>
      </div>
    </div>
  </div>
</section>
<section
  id="listadoActual"
  style="display: none; visibility: hidden"
  class="row">
  <div id="seleccionDeFiltro" class="col-lg-4 col-sm-4 col-md-4">
    <p id="textoFiltro"></p>
    <textarea id="filtroTextarea"></textarea>
    <p id="textoOrden"></p>
    <select id="filtroOrden">
      <option value="no">no ordenar</option>
      <option value="asc">ascendiente</option>
      <option value="desc">descendiente</option>
    </select>
    <button id="confirmarFiltros" onclick="confirmarFiltros()">
      Confirmar filtros
    </button>
  </div>
  <ul
    id="contenidoActual"
    style="width: 100%; max-width: 75%; margin-left: 100px"></ul>
</section>
